{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<!-- Principal Content Start -->
<div id="login">
    <div class="container bg-white">
        <div class="borderContacto border-5  ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Inicio sesion</h6>
            <h1 class="display-5 text-uppercase mb-0">Porfavor inicie sesion con sus datos</h1>
        </div>
        <form method="post" class='form-horizontal'>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="contenidoFormulario">
            
                <input type="email" value="{{ last_username }}" name="email" placeholder="Usuario" id="inputEmail" class="form-control bg-light border-0 px-4 py-3" autocomplete="email" required autofocus>
                
                <input type="password" placeholder="Contraseña" name="password" id="inputPassword" class="form-control bg-light border-0 px-4 py-3" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn button" type="submit">
                    Sign in
                </button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}
